@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RussoOne";
  src: url("../fonts/RussoOne-Regular.ttf");
}

@font-face {
    font-family: "ShareTech";
    src: url("../fonts/ShareTech-Regular.ttf");
  }

@font-face {
    font-family: "ShareTechMono";
    src: url("../fonts/ShareTechMono-Regular.ttf");
  }

@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue-Regular.ttf");
  }