---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Russell Corbett - Contact Me">
    <main class='m-auto p-6 max-w-3xl'>
        <h1 class='text-4xl font-extrabold m-0'>This is where my contact info will be!</h1>
    </main>
</Layout>