---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Russell Corbett - Employment">
    <main class='m-5 md:m-20 space-y-10 flex flex-col justify-center'>
        <div class="">
            <h1 class='flex justify-center text-5xl font-extrabold bg-gradient-to-r from-russell-red to-russell-blue text-transparent bg-clip-text pb-3'>Engineering Work Terms and Technical Experience</h1>
            <h1 class='flex justify-center text-2xl font-extrabold bg-gradient-to-r from-russell-red to-russell-blue text-transparent bg-clip-text'>2 Work Terms - 1 Internship</h1>
        </div>
        <div class='bg-bell-blue p-10 rounded-xl border-stone-400 border'>
            <a href="https://aliant.bell.ca/" class='md:flex text-white' target="_blank">
                <img src="/work/bell/bell_logo_blue.png" class='object-contain h-48 w-96'>
                <div class='md:ml-10'>
                    <h1 class='font-extrabold text-lg md:text-2xl underline'>Bell Canada Enterprises</h1>
                    <h2 class='font-extrabold md:text-l'>System Analyst</h2>
                    <li class='ml-8'>Created automations to analize large data reports, decreasing required effort time by approximately 85%</li>
                    <li class='ml-8'>Identified and solved migration issues</li>
                    <li class='ml-8'>Provided system documentation and support procedures for all project deliverables</li>
                    <li class='ml-8'>Interfaced directly with SharePoint end users as needed</li>
                    <li class='ml-8'>Participated in various process improvement initiatives as we continued to streamline processes and improve the quality of project deliverables</li>
                </div>
            </a>
        </div>
        <div class="bg-gradient-to-br from-avalon-orange via-white to-avalon-blue p-10 rounded-xl border-stone-400 border">
            <a href="https://avaloncontrols.ca/" class='md:flex text-avalon-blue' target="_blank">
                <img src="/work/avalon_controls/avaloncontrolsbanner.png" class='object-contain h-48 w-96'>
                <div class='md:ml-10'>
                    <h1 class='font-extrabold text-lg md:text-2xl underline'>Avalon Controls Ltd.</h1>
                    <h2 class='font-extrabold md:text-l'>Co-op Engineering Student</h2>
                    <li class='ml-8'>Upgraded networking equipment to increase data transmission speeds by 10x</li>
                    <li class='ml-8'>Improved office communication systems to allow for greater online connectivity</li>
                    <li class='ml-8'>Assisted the engineering group with production of a number of design deliverables</li>
                    <li class='ml-8'>Worked with the procurement team to manage purchase orders for IT upgrades</li>
                    <li class='ml-8'>Worked with the shop and field service team to install IT hardware upgrades</li>
                </div>
            </a>
        </div>
        <div class="bg-black p-10 rounded-xl border-stone-400 border">
            <a href="https://www.celtx.com/" class='md:flex text-white' target="_blank">
                <img src="/work/celtx/celtx_logo.jpg" class='object-contain h-48 w-96'>
                <div class='md:ml-10'>
                    <h1 class='font-extrabold text-lg md:text-2xl underline'>Celtx</h1>
                    <h2 class='font-extrabold md:text-l'>High School Summer Intern</h2>
                    <li class='ml-8'>Assisted in the creation of a webpage for an upcoming company event</li>
                    <li class='ml-8'>Provided education market data into potential clients for the company to follow up</li>
                    <li class='ml-8'>Developed Python programming skills with Keyin College in collaboration with TechNL</li>
                    <li class='ml-8'>Worked closely with the sales department on a research initiative within the SalesForce platform</li>
                </div>
            </a>
        </div>
        <button class='non-engineering bg-stone-800 rounded-xl p-5 text-white font-extrabold lg:m-80 hover:animate-pulse'>Non-Engineering Positions</button>
        <div class='space-y-10' id='non-engineering'>
            <div class="bg-white p-10 rounded-xl border-stone-400 border">
                <a href="https://maverickcollectables.com/" class='md:flex' target="_blank">
                    <img src="/work/maverick_sports/maverick_logo.jpg" class='object-contain h-48 w-96'>
                    <div class='md:ml-10 '>
                        <h1 class='font-extrabold text-lg md:text-2xl underline text-black'>Maverick Sports and Collectables</h1>
                        <h2 class='font-extrabold md:text-l text-maverick-blue'>IT Specialist</h2>
                        <li class='ml-8 text-maverick-green'>Managed climate, POS systems, and security systems. </li>
                        <li class='ml-8 text-maverick-green'>Broadcasted live streams</li>
                        <li class='ml-8 text-maverick-green'>Organized and upgraded online profiles</li>
                        <li class='ml-8 text-maverick-green'>Kept the company up to date with the online e-commerce space</li>
                    </div>
                </a>
            </div>
            <div class="bg-mcdonalds-red p-10 rounded-xl border-stone-400 border">
                <a href="https://careers.mcdonalds.ca/" class='md:flex text-mcdonalds-yellow' target="_blank">
                    <img src="/work/mcdonalds/mcdonalds_logo.svg" class='object-contain h-48 w-96'>
                    <div class='mt-5 md:ml-10 md:mt-0'>
                        <h1 class='font-extrabold text-lg md:text-2xl underline'>McDonalds</h1>
                        <h2 class='font-extrabold md:text-l'>Kitchen, Front Counter, and Crew Cleaning</h2>
                        <li class='ml-8 text-mcdonalds-black font-semibold'></li>
                        <li class='ml-8 text-mcdonalds-black font-semibold'></li>
                        <li class='ml-8 text-mcdonalds-black font-semibold'>Assisted with restocking and stock rotation ensuring minimum of unsaleables</li>
                        <li class='ml-8 text-mcdonalds-black font-semibold'>Assisted with maintaining cleanliness in line with company standards</li>
                    </div>
                </a>
            </div>
            <div class="bg-white p-10 rounded-xl border-stone-400 border">
                <a href="https://www.staples.ca/" class='md:flex text-staples-red' target="_blank">
                    <img src="/work/staples/staples_logo.png" class='object-contain h-48 w-96'>
                    <div class='md:ml-10 '>
                        <h1 class='font-extrabold text-lg md:text-2xl underline'>Staples</h1>
                        <h2 class='font-extrabold md:text-l'>Sales; Technology</h2>
                        <li class='ml-8 text-black'></li>
                        <li class='ml-8 text-black'></li>
                        <li class='ml-8 text-black'></li>
                        <li class='ml-8 text-black'></li>
                    </div>
                </a>
            </div>
            <div class="bg-mpmba-blue p-10 rounded-xl border-stone-400 border">
                <a href="https://www.staples.ca/" class='md:flex text-mpmba-orange' target="_blank">
                    <img src="/work/mpmba/mpmba_logo.jpeg" class='object-contain h-48 w-96'>
                    <div class='mt-5 md:ml-10 md:mt-0'>
                        <h1 class='font-extrabold text-lg md:text-2xl underline'>Mount Pearl Minor Basketball Assciation</h1>
                        <h2 class='font-extrabold md:text-l'>Coach</h2>
                        <li class='ml-8 text-mcdonalds-black font-semibold'></li>
                        <li class='ml-8 text-mcdonalds-black font-semibold'></li>
                        <li class='ml-8 text-mcdonalds-black font-semibold'></li>
                        <li class='ml-8 text-mcdonalds-black font-semibold'></li>
                    </div>
                </a>
            </div>
        </div>
    </main>
</Layout>

<script>
    // Find all buttons with the `non-engineering` class on the page.
    const buttons = document.querySelectorAll('button.non-engineering');
    var x = document.getElementById("non-engineering");
    x.style.display = "none";
  
    // Handle clicks on each button.
    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
      }); 
    });
  </script>