---
import Layout from '../layouts/Layout.astro';
import ELCard from '../components/External-Link-Card.astro'
import ILCard from '../components/Internal-Link-Card.astro'
import Blog_Card from '../components/Blog-Card.astro'
---

<Layout title="Russell Corbett">
	<main class='m-auto p-6 max-w-lg'>
		<h1 class='text-4xl font-extrabold m-0'>Welcome to </h1>
		<h1 class='text-5xl font-extrabold m-0'><span class="text-transparent bg-clip-text bg-gradient-to-r from-russell-red to-russell-blue">Russell Corbett</span></h1>
		<p class="bg-white rounded-xl border p-3 mt-3">This website is currently under development.<br /><strong>For now:</strong> Please feel free to follow the links below.</p>
		<img src="../RC_logo_png_transparent.png" alt="RC Logo.">
		<ul role="list" class="grid gap-4 p-0 grid-cols-2">
			<ILCard
				href="https://russellcorbett.ca/resume/"
				title="Resume"
				body="View my current engineering resume!"
			/>
			<ELCard
				href="https://support.cancer.ca/site/TR/RelayForLife/RFLY_NW_even_?px=14295830&pg=personal&fr_id=28684&s_locale=en_CA"
				title="Relay for Life"
				body="Sponsor me at this year's MUN Relay for Life!"
			/>
			<ELCard
				href="https://www.easternedgerobotics.com"
				title="Eastern Edge Robotics"
				body="Visit my underwater robotics team website!"
			/>
			<ELCard
				href="https://fmuntenth.com"
				title="FMUNTENTH"
				body="Visit my autonomous vehicle team website. We are looking for sponsors!"
			/>
			<ILCard
				href="/teams/"
				title="My Teams"
				body="View more info on the teams I am a part of!"
			/>
			<ILCard
				href="/experience/"
				title="Work Placements"
				body="View each of the companies I have worked at!"
			/>
			<ILCard
				href="/projects/"
				title="Solo Projects"
				body="View the solo projects I work on!"
			/>
			<ILCard
				href="/volunteering/"
				title="Philanthropy"
				body="View where I like to volunteer!"
			/>
		</ul>
	</main>
</Layout>

