---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Russell Corbett - Projects">
    <main class='m-auto p-6 max-w-3xl'>
        <h1 class='flex justify-center text-5xl font-extrabold bg-gradient-to-r from-russell-red to-russell-blue text-transparent bg-clip-text pb-3'>Design Projects</h1>
        <h1 class='flex justify-center text-2xl font-extrabold bg-gradient-to-r from-russell-red to-russell-blue text-transparent bg-clip-text'>Self Motivated and Major School Projects</h1>
        <h2 class='text-2xl font-extrabold m-0'>Homelab</h2>
        <h2 class='text-2xl font-extrabold m-0'>Makerspace</h2>
        <h2 class='text-2xl font-extrabold m-0'>Poker Scoretracker</h2>
        <h2 class='text-2xl font-extrabold m-0'>Russell Corbett Computing</h2>
        <h2 class='text-2xl font-extrabold m-0'>Russell Corbett Website</h2>
        <h2 class='text-2xl font-extrabold m-0'>Engineering One Survival Game</h2>
    </main>
</Layout>