---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Russell Corbett - Teams">
    <main class='m-auto p-6 max-w-3xl'>
        <h1 class='text-4xl font-extrabold m-0'>This is where my teams will be!</h1>
        <div class='bg-[url("../teams/eastern_edge/edge-ocean.jpg")]'>
            <img src="../teams/eastern_edge/eastern_edge_logo.png" alt="Eastern Edge Logo.">
        </div>
        <div class='bg-[url("../teams/fmuntenth/fmuntenth-road.jpg")]'>
            <img src="../teams/fmuntenth/transparent.png" alt="FMUNTENTH Logo.">
        </div>
    </main>
</Layout>