---
import Layout from '../layouts/Layout.astro';
import FLink from '../components/Fancy-Link-Card.astro';
---

<Layout title="Russell Corbett - Teams">
    <main class='m-auto p-6'>
            <h1 class='flex justify-center text-5xl font-extrabold bg-gradient-to-r from-russell-red to-russell-blue text-transparent bg-clip-text pb-3 text-center'>Engineering Teams</h1>
            <h1 class='flex justify-center text-2xl font-extrabold bg-gradient-to-r from-russell-red to-russell-blue text-transparent bg-clip-text text-center'>2 Internationally Acclaimed Companies</h1>
        <div class='md:flex md:justify-evenly mt-10 space-y-10 md:space-y-0'>
            <div class='border rounded-2xl'>
                <div class='bg-[url("../teams/eastern_edge/edge-ocean.jpg")] rounded-t-2xl'> 
                    <img src="../teams/eastern_edge/eastern_edge_logo.png" alt="Eastern Edge Logo." class='max-h-96'>
                </div>
                <div class='flex flex-col place-items-center max-w-xl'>
                    <h1 class='text-4xl font-extrabold text-center'>Eastern Edge Robotics</h1>
                    <h1 class='text-2xl font-extrabold text-center'>Chief Technology Officer - Software</h1>
                    <p class='pl-4 pr-4 text-center'>Eastern Edge Robotics is an undergraduate-based team that focuses on designing and operating a Remotely Operated Vehicle (ROV). The team competes annually at the international MATE ROV Competition.</p>
                    <FLink href="../easternedge/" title="Read More"/>
                </div>
            </div>
            <div class='border rounded-2xl'>
                <div class='bg-[url("../teams/fmuntenth/fmuntenth-road.jpg")] rounded-t-2xl'>
                    <img src="../teams/fmuntenth/transparent.png" alt="FMUNTENTH Logo." class='h-96 md:mr-24 md:ml-24'>
                </div>
                <div class='flex flex-col place-items-center max-w-xl'>
                    <h1 class='text-4xl font-extrabold text-center'>FMUNTENTH</h1>
                    <h1 class='text-2xl font-extrabold text-center'>Software Team Member</h1>
                    <p class='pl-4 pr-4 text-center'>FMUNTENTH is an undergraduate-based team that focuses on developing an autonomous self-driving vehicle to compete in the international F1TENTH Competition.</p>
                    <FLink href="../fmuntenth/" title="Read More"/>
                </div>
            </div>
        </div>
    </main>
</Layout>