---
import SlowReveal from '../components/SlowReveal.astro'
import Layout from '../layouts/Layout.astro';
---


<Layout title="Russell Corbett - Teams">
  <div>
    <h1 class="text-3xl font-bold mb-4">Welcome to my website</h1>
    <SlowReveal />
  </div>
</Layout>
