---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Russell Corbett - Philanthropy">
    <main class='m-auto p-6 max-w-3xl'>
        <h1 class='flex justify-center text-5xl font-extrabold bg-gradient-to-r from-russell-red to-russell-blue text-transparent bg-clip-text pb-3 text-center'>Philantropy and Volunteering</h1>
        <h1 class='flex justify-center text-2xl font-extrabold bg-gradient-to-r from-russell-red to-russell-blue text-transparent bg-clip-text text-center'>Technical and Community</h1>
        <h2 class='text-2xl font-extrabold m-0'>Relay for Life</h2>
        <h2 class='text-2xl font-extrabold m-0'>O'Donel High Robotics</h2>
        <h2 class='text-2xl font-extrabold m-0'>MATE Regional Competition</h2>
        <h2 class='text-2xl font-extrabold m-0'>First Lego League</h2>
        <h2 class='text-2xl font-extrabold m-0'>Mount Pearl Events</h2>
        <h2 class='text-2xl font-extrabold m-0'>Lions Club Christmas</h2>
        <div>
            <img src='../volunteering/relay/relay_logo.png' alt='Relay for Life Logo' class='w-1/2 mx-auto' />
            <div class='flex justify-evenly'>
                <p id="relay_days" class='lg:text-2xl text-black font-bold'></p>
                <p id="relay_hours" class='lg:text-2xl text-black font-bold'></p>
                <p id="relay_mins" class='lg:text-2xl text-black font-bold'></p>
                <p id="relay_secs" class='lg:text-2xl text-black font-bold'></p>
                <h2 id="relay_end" class='lg:text-2xl text-black font-bold'></h2>
            </div>
        </div>
        <div>
            <img src='../volunteering/OD4D/od4d_logo.png' alt='OD-4D Logo' class='w-1/2 mx-auto' />
        </div>
        <div>
            <img src='../volunteering/OD4D/od4d_logo.png' alt='MATE Newfoundland Logo' class='w-1/2 mx-auto' />
            <div class='flex justify-evenly'>
                <p id="days" class='lg:text-2xl text-black font-bold'></p>
                <p id="hours" class='lg:text-2xl text-black font-bold'></p>
                <p id="mins" class='lg:text-2xl text-black font-bold'></p>
                <p id="secs" class='lg:text-2xl text-black font-bold'></p>
                <h2 id="end" class='lg:text-2xl text-black font-bold'></h2>
            </div>
        </div>
        <div>
            <img src='../volunteering/first/fll-logo-horizontal.png' alt='First Lego League Logo' class='w-1/2 mx-auto' />
        </div>
        <div>
            <img src='../volunteering/mount_pearl/mount-pearl.png' alt='City of Mount Pearl Logo' class='w-1/2 mx-auto' />
        </div>
        <div>
            <img src='../volunteering/lions_club/lions_club_logo.png' alt='Lions Club of Mount Pearl Logo' class='w-1/2 mx-auto' />
        </div>
            <!-- title="Relay for Life" 
            subtitle="Tech Lead" 
            body="" 
            image="../volunteering/relay/relay_logo.png" 
            href="https://support.cancer.ca/site/TR/RelayForLife/RFLY_NW_even_?px=14295830&pg=personal&fr_id=28684&s_locale=en_CA"-->
    </main> 
</Layout>
