---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Russell Corbett - Philanthropy">
    <main class='m-auto p-6 max-w-3xl'>
        <h1 class='text-4xl font-extrabold m-0'>This is where my volunteering and philanthropy will be!</h1>
        <h2 class='text-2xl font-extrabold m-0'>Relay for Life</h2>
        <h2 class='text-2xl font-extrabold m-0'>O'Donel High Robotics</h2>
        <h2 class='text-2xl font-extrabold m-0'>MATE Regional Competition</h2>
        <h2 class='text-2xl font-extrabold m-0'>First Lego League</h2>
        <h2 class='text-2xl font-extrabold m-0'>Mount Pearl Events</h2>
        <h2 class='text-2xl font-extrabold m-0'>Lions Club Christmas</h2>
    </main>
</Layout>