---
import Layout from '../layouts/Layout.astro';
import Work from '../components/Work-Term.astro'
---

<Layout title="Russell Corbett - Employment">
    <main class=''>
        <h1 class='text-4xl font-extrabold m-0'>This is where my work terms will be!</h1>
        <Work image="/work/bell/bell_logo.png" background="bg-bell-blue" title="Bell" body="Test" href="https://aliant.bell.ca/"></Work>
        <Work image="/work/avalon_controls/avaloncontrolsbanner.png" background="bg-white" title="Avalon Controls Ltd." body="Test" href="https://avaloncontrols.ca/"></Work>
        <Work image="/work/celtx/celtx_logo_transparent.png" background="bg-white" title="Celtx" body="Test" href="https://www.celtx.com/"></Work>
    </main>
</Layout>