<nav class="flex justify-between bg-[size:400%_400%] bg-gradient-to-br from-russell-red to-russell-blue text-3xl gap-4 animate-[gradient_20s_ease_infinite]">
    <a class="logo" href="/"><img src='/RC_logo_png_transparent_no_name.jpg' class="hover:bg-white transition bg-zinc-300 rounded-r-3xl w-24 content-center"></a>
    <ul class="items-center font-bold gap-8 xl:gap-12 hidden lg:flex lg:pr-32">
        <li><a href="/experience/" class='hover:text-white transition text-zinc-300 font-mono'>Experience</a></li>
        <li><a href="/teams/" class='hover:text-white transition text-zinc-300 font-mono'>Teams</a></li>
        <li><a href="/projects/" class='hover:text-white transition text-zinc-300 font-mono'>Projects</a></li>
        <li><a href="/volunteering/" class='hover:text-white transition text-zinc-300 font-mono'>Philanthropy</a></li>
    </ul>
    <!-- <a class=""><img src='' class="bg-zinc-300 rounded-l-3xl w-24 content-center hidden lg:flex"></a> -->
    <a class="" href="/"><img src='/hamburger.png' class="bg-zinc-300 rounded-l-3xl p-5 w-24 h-20 lg:hidden"></a>
</nav>

<style>
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
