<nav class="flex justify-between bg-gradient-to-br from-russell-red to-russell-blue text-3xl gap-4">
    <a class="logo" href="/"><img src='/RC_logo_png_transparent_no_name.jpg' class="bg-zinc-300 rounded-r-3xl w-24 content-center"></a>
    <ul class="flex items-center font-bold gap-8">
        <li><a href="/work-terms/" class='hover:text-white transition text-zinc-300 font-mono'>Experience</a></li>
        <li><a href="/teams/" class='hover:text-white transition text-zinc-300 font-mono'>Teams</a></li>
        <li><a href="/projects/" class='hover:text-white transition text-zinc-300 font-mono'>Projects</a></li>
        <li><a href="/volunteering/" class='hover:text-white transition text-zinc-300 font-mono'>Philanthropy</a></li>
    </ul>
    <a class=""><img src='' class="bg-zinc-300 rounded-l-3xl w-24 content-center"></a>
</nav>
