---
export interface Props {
	title: string;
	body: string;
	href: string;
    image: string;
}

const { href, title, body, image } = Astro.props;
import LearnMore from './Learn-More.astro';
---

<div class='grid grid-cols-1 w-60 xl:w-80 rounded-t-full rounded-b-xl bg-zinc-300 text-center border border-gray-200 shadow-md'>
    <img src={image} class='w-60 h-60 xl:w-80 xl:h-80 rounded-full p-3'>
    <h1 class='text-center text-2xl font-extrabold bg-gradient-to-r from-russell-red to-russell-blue text-transparent bg-clip-text pl-3 pr-3'>{title}</h1>
    <p class='p-5'>{body}</p>
    <!-- <div class='pb-5 pl-10 pr-10'>
        <LearnMore title='Learn More' href={href}></LearnMore>
    </div> -->
</div>