---
export interface Props {
	title: string;
	body: string;
	href: string;
    image: string;
}

const { href, title, body, image } = Astro.props;
---


<li class="">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
        <img src={image}>
		<p>
			{body}
		</p>
	</a>
</li>