---
export interface Props {
	title: string;
	subtitle: string;
	body: string;
	href: string;
    image: string;
    background: string
}

const { href, title, subtitle, body, image, background } = Astro.props;
---

<div class='flex flex-col place-content-center'>
    <img 
</div>