---
export interface Props {
	title: string;
	subtitle: string;
	body: string;
	href: string;
    image: string;
    background: string;
	bullets: string[];
}

const { href, title, subtitle, body, image, background, bullets } = Astro.props;
---

<div class='p-10 rounded-xl border-stone-400 border shadow-xl'>
	<a href={href} class='md:flex text-white' target="_blank">
		<img src={image} class='object-contain h-48 w-96'>
		<div class='md:ml-10'>
			<h1 class='font-extrabold text-lg md:text-2xl underline'>{title}</h1>
			<h2 class='font-extrabold md:text-l'>{subtitle}</h2>
			<li class='ml-8'>Created automations to analize large data reports, decreasing required effort time by approximately 95%</li>
			<li class='ml-8'>Identified and solved migration issues</li>
			<li class='ml-8'>Provided system documentation and support procedures for all project deliverables</li>
			<li class='ml-8'>Interfaced directly with SharePoint end users as needed</li>
			<li class='ml-8'>Participated in various process improvement initiatives as we continued to streamline processes and improve the quality of project deliverables</li>
		</div>
	</a>
</div>